rules_version = '2';

service firebase.storage {
  match /b/{bucket}/o {
    // Allow public read access to all files by default
    match /{allPaths=**} {
      allow read;
    }

    // Allow a construction company user to write to their own media folder.
    match /property_media/{builderId}/{allPaths=**} {
      allow write: if request.auth.uid == builderId;
    }

    // Allow an authenticated broker to write to their own properties folder.
    match /broker_properties/{brokerId}/{allPaths=**} {
      allow write: if request.auth.uid == brokerId;
    }
  }
}
