.domus-theme {
    --background: 90 20% 97%; /* #f6f8f5 */
    --foreground: 110 16% 8%; /* #121811 */

    --card: 0 0% 100%;
    --card-foreground: 110 16% 8%;

    --popover: 0 0% 100%;
    --popover-foreground: 110 16% 8%;

    --primary: 80 99% 49%;
    --primary-foreground: 110 16% 8%;

    --secondary: 110 16% 8%;
    --secondary-foreground: 0 0% 98%;

    --muted: 90 20% 97%;
    --muted-foreground: 220 9% 46%;

    --accent: 97 78% 56%; /* #84e637 */
    --accent-foreground: 110 16% 8%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;

    --warning: 24 98% 50%;
    --warning-foreground: 0 0% 98%;

    --border: 220 13% 91%;
    --input: 220 13% 91%;
    --ring: 80 99% 49%;

    --chart-1: 12 76% 61%;
    --chart-2: 173 58% 39%;
    --chart-3: 197 37% 24%;
    --chart-4: 43 74% 66%;
    --chart-5: 27 87% 67%;
    --radius: 0.5rem;
}

.dark .domus-theme {
    --background: 210 20% 7%;
    --foreground: 0 0% 98%;

    --card: 210 20% 7%;
    --card-foreground: 0 0% 98%;

    --popover: 210 20% 7%;
    --popover-foreground: 0 0% 98%;

    --primary: 80 99% 49%;
    --primary-foreground: 110 16% 8%;

    --secondary: 210 15% 14%;
    --secondary-foreground: 0 0% 98%;

    --muted: 210 15% 14%;
    --muted-foreground: 215 20% 65%;

    --accent: 97 78% 56%;
    --accent-foreground: 110 16% 8%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;

    --warning: 24 98% 50%;
    --warning-foreground: 0 0% 98%;

    --border: 215 14% 24%;
    --input: 210 15% 14%;
    --ring: 80 99% 49%;
}
